body {
    font-family: 'Lora', serif;
    text-rendering: optimizeLegibility;
}

/*****************
    TOP-BAR  CSS
******************/

div#burger-menu {
    display: none;
}

div#burger-menu.title-bar {
    background-color: #2B2B2B;
    background-image: url("../img/header-noise.png");
}

div#burger-menu div.burger-left {
    float: left;
}

div#burger-menu div.burger-left img {
    width: 40px;
}

div#burger-menu div.burger-right {
    float: right;
    margin-top: 15px;
}

div.sticky-container {
    height: 54.4px;
}

nav.top-bar, nav.top-bar ul {
    background-color: #2B2B2B;
    background-image: url("../img/header-noise.png");
}

nav.top-bar ul li, nav.top-bar ul li a {
    color: wheat;
}

div#sticky-magellan.is-stuck nav.top-bar {
    background-image: url("../img/header-little.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 40px auto;
    padding-left: 47px;
}

nav.top-bar div.top-bar-left {
    margin-left: 5%;
}

nav.top-bar div.top-bar-right {
    margin-right: 5%;
}

/*****************
    HEADER CSS
******************/

header {
    background-color: #2B2B2B;
    background-image: url("../img/header-noise.png");
    padding: 3rem;
}

header h1 {
    font-size: 3.5em;
}

header h1.header a {
    color: white;
}

header h1.header a span.orange {
    color: #CC7832;
}

header h1.header a span.lilac {
    color: #9876AA;
}

header h1.header a span.green-pastel {
    color: #629755;
}

header h2 {
    color: #629755;
    font-family: 'Oxygen Mono', serif;
    font-size: 1.5em;
}

/********************
    SOCIAL ICONS CSS
*********************/

div.badges span.social-badge {
    font-size: 1.5em;
    padding: 0 5px;
    background: #2ba6cb;
    margin: 0 3px;
}

div.badges span.social-badge a {
    color: #fefefe;
}

div.badges span.social-badge.secondary {
    background: #e9e9e9;
}

div.badges span.social-badge.secondary a {
    color: #0a0a0a;
}

div.badges span.social-badge.success {
    background: #5da423;
}

div.badges span.social-badge.success a {
    color: #fefefe;
}

div.badges span.social-badge.alert {
    background: #c60f13;

}

div.badges span.social-badge.alert a {
    color: #fefefe;
}

div.badges span.social-badge.warning {
    background: #ffae00;
    color: #fefefe;
}

div.badges span.social-badge.warning a {
    color: #fefefe;
}

div.badges span.social-badge.linkedin {
    background: #0978B5;
    color: #fefefe;
}

div.badges span.social-badge.linkedin a {
    color: #fefefe;
}

/********************
    BLINK CURSOR
*********************/

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header h2 img.text-bar {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
    margin-left: 5px;
    margin-top: -5px;
}

/********************
   BODY CSS
*********************/

body {
    background-image: url("../img/bg.jpg");
}

div#content {
    padding-top: 20px;
    min-height: 200px;
}

div#content {
    background: white;
}

a.navigation-link i {
    margin-right: 5px;
    margin-left: 5px;
}

div.navigation {
    margin-top: 30px;
}

div.navigation h4 {
    margin: 5px 5px;
    display: inline;
}

div.height-gap-50 {
    height: 50px;
}

div.height-gap-100 {
    height: 100px;
}

div.margin-gap-50 {
    margin-top: 50px;
}

div.margin-gap-100 {
    margin-top: 100px;
}

/********************
   INDEX CSS
*********************/

article.list-item {
    margin-top: 30px;
}

div.additional-info {
    margin-bottom: 20px;
}

article div.title h2 a {
    color: #222;
    font-family: Lora, serif;
}

ul.menu.simple li.comments > a {
    display: inline;
    margin-left: 5px;
}

/********************
   ARTICLES CSS
*********************/

div.article-image {
    max-width: 500px;
}

div.article-image img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px #888888;
    border: 1px solid #888888;
    margin-bottom: 30px;
}

pre code {
    margin: 15px 0;
}

div#content div.title h1 strong {
    color: #222;
    font-family: Lora, serif;
}

div.article-footer h4 {
    margin: 0 5px;
}

/********************
   FOOTER CSS
*********************/

footer {
    background-color: #2B2B2B;
    background-image: url("../img/header-noise.png");
    padding: 3rem;
    color: white;
}

footer section.footer li {
    display: block;
}

footer section.footer .menu > li > a {
    display: block;
    line-height: 1;
    padding: 0.3rem 1rem;
}

footer h5 {
    border-bottom: 1px solid;
    padding-left: 10px;
}

footer h5.lilac {
    color: #9876AA;
}

footer h5.green-pastel {
    color: #629755;
}

footer section.copyright p {
    margin: 1rem 0;
}

/********************************
   KEEP FOOTER AT THE END CSS
*********************************/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div#body {
    min-height: 100%;
    position: relative;
}

div#content {
    padding-bottom: 270px; /* Height of the footer element */
}

footer {
    height: 245px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/********************************
   ARCHIVE CSS
*********************************/

section.archive h1 {
    text-align: center;
    color: #222;
    font-family: Lora, serif;
}

section.archive a, .archive span {
    display: block;
    float: left;
    margin-bottom: -1px;
    text-decoration: none;
}

section.archive li:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: -1px;
}

section.archive a.last, .archive span.last {
    border: 0;
    margin-bottom: 0;
}

section.archive a {
    width: 21em;
    text-indent: 1em;
    white-space: nowrap;
}

section.archive .year-label,
section.archive .month-label {
    width: 4em;
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
    text-rendering: auto;
    letter-spacing: 1px;
    text-align: center;
}

section.archive .month-label {
    width: 7em;
}

section.archive ul {
    list-style: none;
    margin: 0;
}

section.archive ul li {
    margin: 0;
}
